.container {
  display: grid;
  grid-template-rows: (1fr 1fr 7fr 1fr);
  grid-template-columns: (200px auto);
}

#title {
  grid-column: /*this should span the entire page, look into using negative numbers in grid-column-end*/;
}

.friend {

}

/* Style other types of family members below*/
