/*
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1fr 1fr 7fr 1fr);
  height: 800px;
}

#navbar {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-column-start: span 5;
}

#sidebar {
  writing-mode: vertical-rl;
  grid-column-start: 1;
  grid-column-start: span 1;
  grid-row-start: 2;
  grid-row-end: 7;
}

#title {
  grid-column-start: 2;
  grid-column-start: span 4;
}


#content {  
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-start: span 4;
}

#footer {
  grid-column-start: 1;
  grid-column-start: span 5;
  grid-row-start: 7;
}
*/

.container {
  display: grid;
  grid-template-rows: (1fr 1fr 7fr 1fr);
  grid-template-columns: (200px auto);
}

#navbar {
  grid-column-start: span 2;

}

#sidebar {
  writing-mode: vertical-rl;

}

#title {

}


#content {

}

#footer {

}
